[submodule "teamup_backend"]
	path = teamup_backend
	url = git@github.com:Nagico/teamup_backend.git
[submodule "teamup_iosapp"]
	path = teamup_iosapp
	url = git@github.com:LSX-s-Software/teamup_iosapp.git
